
<div class="card movie-card">
  <% if movie.poster != "N/A" %>
    <%= image_tag(movie.poster, size: "200x350", alt: "Poster for #{movie.title}", class: "card-img-top" ) %>
  <% end %>
  <div class="card-body">
    <h5 class="card-title">
      <%= truncate(movie.title, :length => 60) %>
    </h5>
    <% if !movie.average_rating.nan? %>
      <p class="card-text">average Rating: <%= movie.average_rating %></p>
    <% end %>
    <%= link_to 'Rate Movie', movie, class: "btn btn-primary" %>
  </div>
</div>