
<div class="card movie-card">
  <%= image_tag(movie.poster, size: "200x350", alt: "Poster for #{movie.title}", class: "card-img-top" ) %>
  <div class="card-body">
    <h5 class="card-title">
      <%= truncate(movie.title, :length => 60) %>
    </h5>
    <%= link_to 'Rate Movie', movie, class: "btn btn-primary" %>
  </div>
</div>