<div class="jumbotron">
  <h1 class="display-4">Rate your favorite movies!</h1>
  <p class="lead">Search for your favorite movie and leave a rating</p>
  <hr class="my-4">
  <p>Compare your rating with other users</p>
  <p class="lead">
    <%= render 'movies/search' %>
  </p>
</div>

<ul id="movies">
  <%= render @movies %>
</ul>