#movies {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: start;
  grid-gap: 10px;
  img {
    max-width: 300px;
    height: auto;
  }
}