#show-movie {
  padding-bottom: 20px;
  .card-header {
    font-size: 24px;
    font-weight: bold;
  }
  img {
    text-align: center;
    width: 100%;
    height: auto;
    padding: 10px;
  }
  .card-footer {
    font-size: 24px;
  }
}