<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to 'Movie Rating', root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <%= render collapsible_links_partial_path %>
    </ul>
    <%= render 'movies/search' %>
  </div>
</nav>